/* CSS declarations go here */

body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 14px;
	padding-top: 50px;
}

.logo a:active,
.logo a:hover,
.logo a:link {
	text-decoration: none;
}

.logo {
	float: left;
	width: auto;
}

.navbar {}

.welcome-block {
	text-align: center;
	margin-top: 10px;
}

.meeting-datetime-block {
	margin-right: 4%;
}

.meeting-title-block,
.meeting-datetime-end-block,
.meeting-datetime-block {
	margin-bottom: 5px;
}

.meeting-datetime-end-block,
.meeting-datetime-block {
	float: left;
	width: 48%;
}

.meeting-title-block {
	width: 100%;
}

.meeting-privacy-block,
.meeting-priority-block,
.meeting-submit-block {
	float: left;
	padding-right: 5px;
	margin-top: 5px;
}

.meeting-priority-block {
	padding-top: 7px;
}

.meeting-main-info,
.meeting-info-description {
	float: left;
}

.meeting-main-info {
	width: 35%;
	padding-right: 10px;
}

.meeting-info-description {
	width: 65%;
}

.meeting-list {
	margin: 0;
	padding: 0;
}

.meeting-list LI {
	border-top: 1px solid #777;
	list-style-type: none;
	margin: 0;
	padding: 6px 0 10px;
}

.empty-meeting-description {
	font-style: italic;
}

#error-block UL LI {
	list-style-type: none;
}

#error-block {
	display: none;
}

#error-block.error-detected {
	display: block;
}

#error-block #empty-title {
	display: none;
}

#error-block.empty-title #empty-title {
	display: block;
}

#error-block #empty-datetime {
	display: none;
}

#error-block.empty-datetime #empty-datetime {
	display: block;
}

#error-block #incorrect-datetime-range {
	display: none;
}

#error-block.incorrect-datetime-range #incorrect-datetime-range {
	display: block;
}

.report-period {
	width: 80px;
}

.report-value {
	width: 40px;
}

.report-period, .report-value {
	font-weight: bold;
	padding-top: 9px;
}

.report-period, .report-bar, .report-value {
	float: left;
	height: 30px;
}

.report-bar {
	margin: 3px 6px;
	border-radius: 4px;
}

@media screen and (max-width: 480px) {
	.meeting-privacy-block,
	.meeting-priority-block,
	.meeting-submit-block {
		float: none;
	}
}