.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

div.checked {
    color: #888;
}

div.checked .text {
    text-decoration: line-through;
}

div.private {
    background: #eee;
    border-color: #ddd;
}

.toggle-private {
    margin-left: 5px;
}