<template name="listItem">
    <div class="meeting-main-info">
        <div class="meeting-info-title">
            <a class="edit-meeting" value="{{_id}}" data-toggle="modal" data-target="#save-meeting-dialog">{{title}}</a>
        </div>
        <div class="rateit" id="rateit-{{_id}}" data-rateit-value="{{priority}}" data-rateit-ispreset="true" data-rateit-readonly="true">
        </div>
        <div class="meeting-info-datetime small text-muted">{{formatDate datetime 'dddd, LL'}}</div>
    </div>

    <div class="meeting-info-description">
      {{#if description}}
        {{description}}
      {{else}}
          <div class="empty-meeting-description">
              No notes entered. Click the title to update!
          </div>
      {{/if}}
    </div>
    <div style="clear:both"></div>
</template>