<template name="weeklyReport">
    <h1>Weekly Report ({{formatDate period.begin 'MMM DD, YYYY'}} - {{formatDate period.end 'MMM DD, YYYY'}})</h1>
    {{#each statistics}}
        <div>
            <div class="report-period">{{formatDate date 'ddd, MMM DD'}}</div>
            <div class="report-bar {{getLoadLevel hours}}" style="width: {{getBarWidth hours}}%"></div>
            <div class="report-value">{{roundNumber hours 2}}h</div>
            <div style="clear: both"></div>
        </div>
    {{/each}}
</template>