<template name="welcome">
	<br/>
	<div class="well well-lg">
		<p class="text-right"> {{> loginButtons align="right"}}</p>
		<div class="welcome-block">
			<img src="/mm_red.png" />
			<div class="page-header">
				<h1>MeeterMaid</h1>
				<p class="lead">A simple app to help you pause and reflect on your day.</p>
			</div>
		</div>
	</div>

	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Pithy note taking</h2>
			<p class="lead">Long winded meeting minutes arent that useful to time poor people. MeeterMaid lets you just jot in a short statement and score for meetings, and we let the power of software do the rest! </p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive" data-src="../../holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
		<div class="col-md-7">
			<h2 class="featurette-heading">Find your time sinks</h2>
			<p class="lead">Are you spending too much time in meetings each day? Is that really the best use of your time? MeeterMaid helps you quantify where your time goes and suggests where you can win time back.</p>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Get back up to speed</h2>
			<p class="lead">Are your weekends so awesome that you forget about your meetings from last week? Don't worry, MeeterMaid will prepare you a weekly summary, so you can be prepared - without losing your precious free time.</p>
		</div>
		<div class="col-md-5">
			<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
	</div>

	<hr class="featurette-divider">
	<footer>
		<p><a href="#">Back to top</a>
		</p>
	</footer>
	<!-- /END THE FEATURETTES -->
</template>